mixin videoPlayer(video={})
  .videoPlayer#jsVideoPlayer
    video(src=`/${video.src}`)
    span#jsScreenPlay
    .videoPlayer__controls  
      .videoPlayer__column 
        span#jsVolumeBtn
          i.fas.fa-volume-up
        span
          span#currentTime 00:00:00 
          span /       
          span#totalTime
        input.videoPlayer__volume#jsVolumeRange(type="range", min="0", max="1", step="0.1", value ="0.5")
      .videoPlayer__column 
        span#jsPlayBtn
          i.fas.fa-play
      .videoPlayer__column 
        span#jsFullScreen
          i.fas.fa-expand