.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    .profile__info {
      font-size: 22px;
      margin-top: 30px;
    }
  }
  .user-profile__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    a:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
