.videoBlock {
  video {
    margin-bottom: 10px;
    max-width: 100%;
    background-color: $black;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
